name: Build LaTeX document
on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v3
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          root_file: main.tex
          latexmk_use_lualatex: true
          extra_fonts: |
            ./fonts/lato/*.ttf
            ./fonts/raleway/*.otf
      - name: Rename CV
        run: mv main.pdf firolunis_cv.pdf
      - name: Upload PDF file
        uses: actions/upload-artifact@v3
        with:
          name: CV
          path: firolunis_cv.pdf
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: firolunis_cv.pdf